<h2>以下の内容で、送信する。</h2>

<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>

  <p>タイトル:<%= @post.title %></p>
  <p>本文:<%= @post.content %></p>
  <p><%= image_tag @post.image.thumb.url %></p>
  <%= f.submit "登録する" %>
<% end %>

<%= form_for(@post, url: new_post_path) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "もどる", name: 'back' %>
<% end %>
